.footerConatiner {
    height: 274px;
    margin: 56px 0 0;
    padding: 41px 517px 41px 518px;
    background-color: #f6f7f2;
}

.orangeHealthLogoConatiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ohFooterLogo {
    width: 385px;
    height: 40px;
    margin: 0 0 36px;
    object-fit: contain;
}